/* CSS rules that apply to many elements */
:root {
  --main-background: #36393e;
  --alternate-background-a: #2f3136;
  --alternate-background-b: #282b30;
  --border-main: #3e4146;
  --text-color-main: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  font-family: lato;
  color: var(--text-color-main);
}

h4, p {
  color: var(--text-color-main)
}

h4 {
  margin-bottom: 15px;
}

h3 {
  line-height: 0;
}

.darkTable tr:nth-child(even){background-color: var(--alternate-background-a);}
.darkTable tr:nth-child(odd){background-color: var(--alternate-background-b);}

#buttonStyleA {
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
  background-color: rgba(0,0,0,0.15);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

/* CSS rules for few or one element(s)
   From top of the page to the bottom */

    /* Title Area */
#intro {
  margin: 0;
  width: 100%;
  height: 69vh;
  padding-top: 21vh;
  background-image: url('../sunset.svg');
  animation-name: colorShift;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes colorShift {
	0% {filter: hue-rotate(180deg);}
	50% {filter: hue-rotate(255deg);}
	100% {filter: hue-rotate(180deg);}

}

#centerTitle {
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
  color: white;
  border-radius: 12px;
  background-color: rgba(0,0,0,0.4);
  max-width: 50vh;
  padding: 1vh;
}

@media only screen and (max-width: 768px) {
    /* Change title area to fit the text on mobile phones */
    #centerTitle {
      height: 60%;
    }
}

#title {
  line-height: 40px;
}

#descriptionShort {
  margin-bottom: 12px;
}

    /* Bar right below title area */

#stats {
  width: 100%;
  height: 10vh;
  background-color: var(--main-background);
  table-layout: fixed;
  color: #DCDCDC;
  border-top: 2px solid var(--alternate-background);
  border-bottom: 2px solid var(--border-main);
}

.stat {
  text-align: center;
  width: calc(50% - 3px);
  line-height: 12px;
}

    /* Everything below except footer */

#mainContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--main-background);
  padding-bottom: 1%;
}


#mainContent f-item {
  background-color: var(--main-background);
  width: calc(30% - 21.5px);
  padding: 10px;
  padding-bottom: 25px;
  text-align: center;
}


#mainContent f-item:nth-of-type(odd) {
  background-color: var(--main-background);
  width: calc(30% - 21.5px);
  padding: 10px;
  text-align: center;
  margin-left: 20%;
  border-right: 3px solid var(--border-main);
}

#mainContent .divider-row {
  width: 3px;
  height: calc(30vh + 20px);
  padding: 0;
  background-color: var(--border-main);
}

@media only screen and (max-width: 768px) {
    /* Set layout to one column and remove margin for mobile phones */
    #mainContent f-item {
        width: 100%;
        margin: 0;
        border: 0;
    }

    #mainContent {
      flex-wrap: wrap;
    }

    #mainContent .divider-row {
      display: none;
    }
}

#rules {
  text-align: left;
  margin-left: 1em;
}

#staff{
  width: 95%;
  margin: auto;
}

#botInfo {
  width: 95%;
  margin: auto;
}

#botInfo td {
  padding: 2px 4px 2px 4px;
}

    /* Footer */

#footer {
  padding: 15px 0 40px 0;
  background-color: var(--alternate-background-b);
}

#footer a {
  float: right;
  margin-right: 10px;
}
